{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">this is about us page</p>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
            <div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>

    {% if product.is_sale%}
  <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                          <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        
                                    </div>


                                    <!-- Product price-->
                                     <del>
                                        {{product.price}}
                                     </del>
                                    {{product.saleprice}}

    {%else%}
 {{product.price}}
    {%endif %}
    <br><br>
    <a href="{% url 'home' %}" class="btn btn-primary">Go Homepage</a>
  </div>
</div>

            </div>

        </div>
           {% endblock %}
       
        <!-- Header-->
       
        <!-- Section-->
       
        
