{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
        <header class="bg-dark py-1">
            
                <div class="text-center text-white">
                    <p class="lead fw-normal text-white-50 mb-0">Update Password</p>
                </div>
            
        </header>


          <div class="container"style="margin-bottom:350px;">
            <div class="row">


             <form  method="POST" action="{% url 'update_password' %}" style="margin-left:300px;">
              {% csrf_token %}
  <div class="col-4">
  {{ form.as_p }}
  </div>
<br></br>
  <button type="submit" class="btn btn-secondary"style="margin-bottom :20px; margin-left :60px;">Update Password</button>
</form>

            </div>

        </div>
           {% endblock %}
       
        <!-- Header-->
       
        <!-- Section-->
       
        
